
<!Doctype html>
<html>
  <head>
    <title>Hello React</title>
    <script src="http://fb.me/react-0.12.2.js"></script>
    <script src="http://fb.me/JSXTransformer-0.12.2.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
  </head>
  <body>
    <div id="container"></div>
    <!-- controlled by the server (theoretically) -->
    <script>
      var FILTERS = <%- filters %>
    </script>
    <script src="./react/services.js" type="text/javascript"></script>
    <script src="./react/models.js" type="text/javascript" ></script>
    <script src="./react/components/search_component.jsx" type="text/jsx"></script>
    <script src="./react/app.jsx" type="text/jsx"></script>
  </body>
</html>
